@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
html {
  font-family: "Montserrat", sans-serif;
}
.bg-white {
  background: #fffffe;
}
.animation-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /*if we only want this item to be smack center*/
}
.loading-text {
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: darkblue;
  top: -250px;
  position: relative;
  font-style: italic;
}

h1 {
  line-height: 2 !important;
}

/* BOOTSTRAP CSS's START */
.container {
  background-color: #e3f6f5;
  margin-top: 8%;
  text-align: center;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 15%);
}

.btn-default {
  background-color: #ffd803 !important;
  border: black;
}
/* BOOTSTRAP CSS END */

/* LOGIN CSS START */
.btn {
  color: #272343;
  border: black !important;
}

.login-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.signin {
  margin-top: 50px;
}
/* Modify brand and text color */

.navbar.navbar-expand-lg.navbar-light.bg-light {
  color: #272343 !important;
  background-color: #bae8e8 !important;
}

.nav-link,
.navbar-brand {
  color: #272343 !important;
  display: flex;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23272343' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23272343' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media screen and (min-width: 1400px) {
  .carousel-inner .carousel-item .carousel-img {
    width: 1920px;
    height: auto;
  }
}
@media screen and (min-width: 769px) {
  .carousel-inner .carousel-item .carousel-img {
    width: 1920px;
    height: auto;
  }
}
@media screen and (min-width: 577px) {
  .carousel-inner .carousel-item .carousel-img {
    width: 800px;
    height: auto;
  }
}
@media screen and (max-width: 591px) {
  .carousel-inner .carousel-item .carousel-img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
}

#testYourKnowledge.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 5vh;
}

.container > a#startQuiz {
  background-color: #bae8e8;
  color: #272343;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 10px;
  border: 2px #232946 solid;
  text-decoration: none;
  font-size: 20px;
}

.dropdown-toggle::after {
  content: none;
}

.container > a#startQuiz:hover {
  transition: background-color 0.2s;
  background-color: #ffd803;
  color: #272343;
}

.navbar-brand:hover,
.nav-link:hover {
  padding: 3px 8px;
  transition: background-color 0.2s;
  background-color: #ffd803;
  color: #272343;
  border-radius: 20px;
  border: 2px #232946 solid;
  text-decoration: none;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: #272343;
  height: 1px;
}

hr#break {
  border: 0;
  clear: both;
  display: block;
  width: 50%;
  background-color: #272343;
  height: 1px;
}
