@import url("https://fonts.googleapis.com/css2?family=Delius&family=Mali:wght@700&family=Poppins&family=Sacramento&display=swap");

*,
html {
  font-family: "Delius", cursive;
}
.bg-white {
  background: #ffffff;
}
.animation-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*if we only want this item to be smack center*/
}
.loading-text {
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: darkblue;
  top: -250px;
  position: relative;
  font-style: italic;
}
