@import url("https://fonts.googleapis.com/css2?family=Delius&family=Mali:wght@700&family=Poppins&family=Sacramento&display=swap");

*,
html {
  font-family: "Delius", cursive;
}
.bg-white {
  background: #fffffe;
}
.animation-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*if we only want this item to be smack center*/
}
.loading-text {
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: darkblue;
  top: -250px;
  position: relative;
  font-style: italic;
}

h1 {
  line-height: 2 !important;
}

/* BOOTSTRAP CSS's START */
.container {
  background-color: #e3f6f5;
  margin-top: 8%;
  text-align: center;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 15%);
}

.btn-default {
  background-color: #ffd803 !important;
  border: black;
}
/* BOOTSTRAP CSS END */

/* LOGIN CSS START */
.btn {
  color: #272343;
  border: black !important;
}

.login-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.signin {
  margin-top: 50px;
}
